nav {
    width: 100%;
    height: 75px;
}

.style {
    width: 1440px;
    height: 48px;
}

.logo-kitty {
    width: 30px;
    height: 30px;
}


.map-layer {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2022/4/214752e62a3246119b0385731d7626df?quality=95&fake=.png);
    background-size: 100%;
    width: 676px;
    height: 986px;
}

.text {
    color: #555555;
    font-family: Manrope, serif;
    font-size: 14px;
    letter-spacing: -0.17px;
    line-height: 22.5px;
    text-align: left;
}

.underline {
    background-color: #A0A9BA;
    width: 1440px;
    height: 1px;
}